@using Vanguard.ViewModels.About
@model AboutVM

@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/about.css">

}
<section class="section">

    <div class="head-url">
        <span><a asp-action="index" asp-controller="home">Home </a></span> /
        <span>About Us</span>
    </div>

    <div class="about-header">
        <h1>About Us</h1>
        <p>
            @Html.Raw(Model.About.Title)
        </p>
    </div>

    <div class="about-header-img">
        <img src="~/cilent/assets/settings/about/title/@Model.About.Image.Url" alt="">
    </div>


    <div class="informations">

        @foreach (var acc in Model.AboutAccordions)
        {

            <div class="informations-box">

                <h5 class="inf-title">
                    @acc.Title
                </h5>

                <p class="inf-description">
                    @acc.Description
                </p>

            </div>
        }



        <div class="informations-box our-mission">
            <h5 class="inf-title">
                CONTACT US
            </h5>



            <address class="inf-description">
                <strong>
                    <a href="@(Model.Contact.AddressLink.Trim())" target="_blank">
                        @Model.Contact.Address
                    </a>

                </strong>

                <strong>
                    Phone :
                    <a href="tel:@Model.Contact.Number">@Model.Contact.Number</a>
                </strong>
                <strong>
                    Email :
                    <a href="mailto:@(Model.Contact.Email.Trim())">@Model.Contact.Email</a>
                </strong>
            </address>

        </div>







        <div class="informations-box our-team">
            <h1 class="inf-title">
                OUR TEAM
            </h1>

            <!-- Swiper -->
            <div class="swiper mySwiper inf-description inf-swiper">
                <div class="swiper-wrapper">

                    @foreach (var emp in Model.Emploees)
                    {

                        <div class="swiper-slide">

                            <img style="object-fit:top center" src="~/cilent/assets/settings/about/emploee/@emp.Image.Url" alt="">
                            <h4>@emp.FullName</h4>
                            <p style="font-size:12px">@emp.Position</p>

                        </div>
                    }

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>


    </div>

</section>

@section script {
    <script src="~/cilent/assets/js/about.js"></script>
}