@using Vanguard.ViewModels.Blog
@model BlogDetailVM

@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/blog-detail.css">
}



<main>

    <section class="header-news">

        <div class="banner">
            <video autoplay loop muted plays-inline>
                <source src="~/cilent/assets/videos/Untitled video - Made with Clipchamp (1).mp4" type="video/mp4">
            </video>
        </div>

        <h1>BLOGS</h1>
    </section>



    <section style="height: 100vh;" class="section blog">

        <div class="blog-container">



            <div class="blogs">


                <div class="blog-header">
                    <div>
                        <a class="blog-header-category" href="#">
                            @foreach (var cat in Model.Blog.Categories.ToList())
                            {
                                @cat.Category.Name

                                @(cat != Model.Blog.Categories.Last() ? " , " : "")
                            }
                        </a>
                    </div>
                    <a class="blog-title" href="#">
                        @Model.Blog.Title
                    </a>

                    <div class="blog-rating">
                        <span>
                            By: <a href="#">@Model.Blog.AppUser.FullName</a>
                        </span>

                        <span>
                            <img src="/cilent/assets/icons/clock.svg" alt="">
                            @Model.Blog.CreatedDate.ToString("dd MM yyyy");
                        </span>

                        <span>
                            <img src="~/cilent/assets/icons/comment.svg" alt="">
                            700 Comments
                        </span>

                        <span>
                            <img src="~/cilent/assets/icons/view.svg" alt="">
                            @(Model.Blog.Clickeds) Views
                        </span>
                    </div>
                </div>

                <div class="blog-main-img">

                    @if (Model.Blog.Images.FirstOrDefault(i => !i.IsDeleted && i.IsMain) != null)
                    {
                        if (Model.Blog.Images.FirstOrDefault(i => !i.IsDeleted && i.IsMain).IsVideo)
                        {
                            <video loop muted plays-inline controls>
                                <source src="~/cilent/assets/blogs/@Model.Blog.Images.FirstOrDefault(i=>!i.IsDeleted&&i.IsMain)!.Url!"
                                        type="video/mp4">
                            </video>
                        }
                        else
                        {
                            <img src="~/cilent/assets/blogs/@Model.Blog.Images.FirstOrDefault(i=>!i.IsDeleted&&i.IsMain)!.Url!" alt="">
                        }
                    }

                </div>

                <div class="blog-description">
                    <p>
                        @Model.Blog.MainDescription
                    </p>
                </div>






                <div class="blog-about">
                    <div class="blog-about-title">
                        <h3>ABOUT THE AUTHOR</h3>
                    </div>

                    <div class="blog-about-description">
                        <p>
                            @Model.Blog.AddinationDescription
                        </p>
                    </div>

                    <div class="blog-images">

                        <!-- Swiper -->
                        <div class="swiper mySwiper blogs-swp">
                            <div class="swiper-wrapper">

                                @if(Model.Blog.Images.Where(i=>i.IsDeleted&&!i.IsMain).ToList()!=null)
                                {

                                    foreach (var img in @Model.Blog.Images.Where(i => i.IsDeleted && !i.IsMain).ToList())
                                    {
                                        if (img.IsVideo)
                                        {
                                            <div class="swiper-slide">
                                                <video loop muted plays-inline controls>
                                                    <source src="~/cilent/assets/blogs/@img.Url"
                                                            type="video/mp4">
                                                </video>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="swiper-slide">
                                                <img src="~/cilent/assets/blogs/@img.Url" alt="">
                                            </div>
                                        }
                                    }
                               
                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>




                <div class="blog-comments">
                    <div class="sheare-button">
                        <a href="#" class="blog-sheare">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </a>
                    </div>

                    <div class="blog-title">
                        <h3>COMMENTS</h3>
                    </div>


                    <div class="comments-container">

                        <ul class="comment-box">

                            <li class="com-user-data">

                                <div class="com-data">

                                    <div class="user-box">

                                        <div class="user-profil-img">
                                            <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                        </div>

                                        <div class="com-user-info">
                                            <span class="comment-date">Date</span>
                                            <h5>User Name</h5>

                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                Consequuntur
                                                error maxime, rem neque totam fugiat culpa dolore odit dolorem quis
                                                nesciunt aspernatur perferendis est sunt ab quas porro molestiae
                                                excepturi?
                                            </p>
                                        </div>
                                    </div>

                                    <div class="comment-reply">
                                        <a class="reply" data-comment="">REPLY</a>
                                    </div>
                                </div>



                                <ul class="sub-comment-box">

                                    <li class="sub-com-user-data">

                                        <div class="sub-user-box">

                                            <div class="sub-user-profil-img">
                                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                            </div>

                                            <div class="sub-com-user-info">
                                                <span class="sub-comment-date">Date</span>
                                                <h5>User Name</h5>

                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Consequuntur error maxime, rem neque totam fugiat culpa dolore
                                                    odit dolorem quis nesciunt aspernatur perferendis est sunt ab
                                                    quas porro molestiae excepturi?
                                                </p>
                                            </div>
                                        </div>

                                    </li>


                                    <li class="sub-com-user-data">

                                        <div class="sub-user-box">

                                            <div class="sub-user-profil-img">
                                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                            </div>

                                            <div class="sub-com-user-info">
                                                <span class="sub-comment-date">Date</span>
                                                <h5>User Name</h5>

                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Consequuntur error maxime, rem neque totam fugiat culpa dolore
                                                    odit dolorem quis nesciunt aspernatur perferendis est sunt ab
                                                    quas porro molestiae excepturi?
                                                </p>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="sub-com-user-data">

                                        <div class="sub-user-box">

                                            <div class="sub-user-profil-img">
                                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                            </div>

                                            <div class="sub-com-user-info">
                                                <span class="sub-comment-date">Date</span>
                                                <h5>User Name</h5>

                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Consequuntur error maxime, rem neque totam fugiat culpa dolore
                                                    odit dolorem quis nesciunt aspernatur perferendis est sunt ab
                                                    quas porro molestiae excepturi?
                                                </p>
                                            </div>
                                        </div>

                                    </li>



                                </ul>

                                <div class="reply-comment active">
                                    <form method="post">

                                        <textarea name="reply-comment" id="reply-comment"
                                                  placeholder="Reply to your comment">
                                            </textarea>
                                        <button type="submit" class="reply-btn">Submit</button>
                                    </form>
                                </div>
                            </li>


                            <li class="com-user-data">

                                <div class="com-data">

                                    <div class="user-box">

                                        <div class="user-profil-img">
                                            <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                        </div>

                                        <div class="com-user-info">
                                            <span class="comment-date">Date</span>
                                            <h5>User Name</h5>

                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                Consequuntur
                                                error maxime, rem neque totam fugiat culpa dolore odit dolorem quis
                                                nesciunt aspernatur perferendis est sunt ab quas porro molestiae
                                                excepturi?
                                            </p>
                                        </div>
                                    </div>

                                    <div class="comment-reply">
                                        <a class="reply" data-comment="">REPLY</a>
                                    </div>
                                </div>



                                <ul class="sub-comment-box">

                                    <li class="sub-com-user-data">

                                        <div class="sub-user-box">

                                            <div class="sub-user-profil-img">
                                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                            </div>

                                            <div class="sub-com-user-info">
                                                <span class="sub-comment-date">Date</span>
                                                <h5>User Name</h5>

                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Consequuntur error maxime, rem neque totam fugiat culpa dolore
                                                    odit dolorem quis nesciunt aspernatur perferendis est sunt ab
                                                    quas porro molestiae excepturi?
                                                </p>
                                            </div>
                                        </div>

                                    </li>


                                    <li class="sub-com-user-data">

                                        <div class="sub-user-box">

                                            <div class="sub-user-profil-img">
                                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                            </div>

                                            <div class="sub-com-user-info">
                                                <span class="sub-comment-date">Date</span>
                                                <h5>User Name</h5>

                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Consequuntur error maxime, rem neque totam fugiat culpa dolore
                                                    odit dolorem quis nesciunt aspernatur perferendis est sunt ab
                                                    quas porro molestiae excepturi?
                                                </p>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="sub-com-user-data">

                                        <div class="sub-user-box">

                                            <div class="sub-user-profil-img">
                                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                            </div>

                                            <div class="sub-com-user-info">
                                                <span class="sub-comment-date">Date</span>
                                                <h5>User Name</h5>

                                                <p>
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Consequuntur error maxime, rem neque totam fugiat culpa dolore
                                                    odit dolorem quis nesciunt aspernatur perferendis est sunt ab
                                                    quas porro molestiae excepturi?
                                                </p>
                                            </div>
                                        </div>

                                    </li>



                                </ul>

                                <div class="reply-comment active">
                                    <form method="post">

                                        <textarea name="reply-comment" id="reply-comment"
                                                  placeholder="Reply to your comment">
                                            </textarea>
                                        <button type="submit" class="reply-btn">Submit</button>
                                    </form>
                                </div>
                            </li>

                        </ul>



                    </div>
                    <div class="add-comment">

                        <form method="post">

                            <textarea name="reply-comment" id="reply-comment" placeholder="Add to your comment">
                            </textarea>
                            <button type="submit" class="reply-btn">Submit</button>
                        </form>
                    </div>
                </div>


            </div>







            <a class="searchs-btn" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

            <div class="blog-searchs">

                <a class="searchs-close-btn" href="#">
                    <img src="~/cilent/assets/icons/close-black.svg" alt="">
                </a>

                <div class="searchs-container">
                    <input id="searchInput" type="text" placeholder="Search...">


                    <ul id="searchResults">

                        <!-- <span>Search not found ...</span> -->

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/slider.png" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <video loop muted plays-inline>
                                    <source src="~/cilent/assets/videos/Untitled video - Made with Clipchamp (1).mp4"
                                            type="video/mp4">
                                </video>

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-tag"><a href="#"># Tag</a></li>
                        <li class="srch-tag"><a href="#"># Tag</a></li>
                        <li class="srch-tag"><a href="#"># Tag</a></li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/slider.png" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-tag">
                            <a href="#">
                                # Tag Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                            </a>
                        </li>


                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                    </ul>

                    <div class="selected-tags">
                        <ul class="selected-tags-list">
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>taasdasdasdg-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>t</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                        </ul>

                    </div>

                    <div class="popular-blogs">

                        <h2>POPULAR BLOGS</h2>

                        <ul class="blog-boxs">
                            <li class="popular-blog-box">
                                <a class="blog-box-img" href="#">
                                    <img src="~/cilent/assets/images/products/product.jpg" alt="">
                                </a>

                                <div class="blog-box-info">
                                    <p>Date</p>
                                    <a href="#">Lorem ipsum dolor ssssssssssssssssssssssssssssssit amet</a>
                                </div>

                            </li>

                            <li class="popular-blog-box">
                                <a class="blog-box-img" href="#">
                                    <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                </a>

                                <div class="blog-box-info">
                                    <p>Date</p>
                                    <a href="#">Lorem ipsum dolor sit adsfsdmsssssssssssssset</a>
                                </div>
                            </li>
                        </ul>



                    </div>

                    <div class="blog-categories">
                        <h2>BLOG CATEGORIES</h2>

                        <ul class="b-categories">
                            <li>
                                <a href="#">ALL</a>
                            </li>

                            <li>
                                <a href="#">COMPANY</a>
                            </li>

                            <li>
                                <a href="#">FASHION</a>
                            </li>

                            <li>
                                <a href="#">STYLE</a>
                            </li>

                            <li>
                                <a href="#">TRENDS</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>






        </div>




    </section>
</main>



@section script {
    <script src="~/cilent/assets/js/blog-detail.js"></script>
}