@using Vanguard.ViewModels.Blog
@model BlogDetailVM

@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/blog-detail.css">
}


<main>

    <section class="header-news">


        <div class="banner">

            <video autoplay loop muted plays-inline>
                <source src="~/cilent/assets/videos/Untitled video - Made with Clipchamp (1).mp4" type="video/mp4">
            </video>
        </div>

        <h1>BLOGS</h1>
    </section>

    <div class="head-url">
        <span><a asp-action="index" asp-controller="home">Home </a></span> /
        <span><a asp-action="index" asp-controller="blog">Blog</a></span> /
        <span> Detail</span>
    </div>


    <section style="height: 100vh;" class="section blog">

        <div class="blog-container">



            <div class="blogs">


                <div class="blog-header">
                    <div>
                        <a class="blog-header-category" href="#">
                            @foreach (var cat in Model.Blog.Categories)
                            {
                                @cat

                                @(cat != Model.Blog.Categories.Last() ? " , " : "")
                            }
                        </a>
                    </div>
                    <a class="blog-title" href="#">
                        @Model.Blog.Title
                    </a>

                    <div class="blog-rating">
                        <span>
                            By: <a href="#">@Model.Blog.Author</a>
                        </span>

                        <span>
                            <img src="/cilent/assets/icons/clock.svg" alt="">
                            @Model.Blog.Created.ToString("dd MM yyyy - HH:MM")
                        </span>

                        <span>
                            <img src="~/cilent/assets/icons/comment.svg" alt="">
                            @(Model.Blog.Comments) Comments
                        </span>

                        <span>
                            <img src="~/cilent/assets/icons/view.svg" alt="">
                            @(Model.Blog.Clicked) Views
                        </span>
                    </div>
                </div>

                <div class="blog-main-img">

                    @if (Model.Blog.Image != null)
                    {
                        if (Model.Blog.Image.IsVideo)
                        {
                            <video autoplay loop muted playsinline controls>
                                <source src="@Url.Content("~/cilent/assets/blogs/" + Model.Blog.Image.Url)" type="video/mp4">
                            </video>

                        }
                        else
                        {
                            <img src="@Url.Content("~/cilent/assets/blogs/" + Model.Blog.Image.Url)" alt="">
                        }
                    }

                </div>

                <div class="blog-description">
                    <p>
                        @Html.Raw(Model.Blog.MainDescription)
                    </p>
                </div>






                <div class="blog-about">
                    <div class="blog-about-title">
                        <h3>ABOUT THE AUTHOR</h3>
                    </div>

                    <div class="blog-about-description">
                        @Html.Raw(Model.Blog.AddinationDescription)
                    </div>

                    <div class="blog-images">

                        <!-- Swiper -->
                        <div class="swiper mySwiper blogs-swp">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <img src="~/cilent/assets/images/products/035dabb5-c40c-43bd-ac53-000dd95ec13f_7ed13d8bdeedefe285e61d01f3d024fb.jpg" alt="">
                                </div>


                                @if (Model.Blog.AddunationImages != null)
                                {

                                    foreach (var img in Model.Blog.AddunationImages)
                                    {
                                        if (img.IsVideo)
                                        {
                                            <div class="swiper-slide">
                                                <video loop muted plays-inline controls>
                                                    <source src="~/cilent/assets/blogs/@img.Url"
                                                            type="video/mp4">
                                                </video>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="swiper-slide">
                                                <img src="~/cilent/assets/blogs/@img.Url" alt="">
                                            </div>
                                        }
                                    }

                                }
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>




                <div class="blog-comments">
                    <div class="sheare-button">
                        <a href="#" class="blog-sheare">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </a>
                    </div>

                    <div class="blog-title">
                        <h3>COMMENTS</h3>
                    </div>


                    <div class="comments-container">

                        <ul class="comment-box">

                            @foreach(var com in Model.Comments){
                                
                            <li class="com-user-data">

                                <div class="com-data">

                                    <div class="user-box">

                                        <div class="user-profil-img">
                                                <img src="~/cilent/assets/images/account/@com.AppUser!.Image?.Url" alt="">
                                        </div>

                                        <div class="com-user-info">
                                                <span class="comment-date">@com.CreatedDate.ToString("dd MM yyyy - HH:MM")</span>
                                            <h5>@com.AppUser.FullName</h5>

                                            <p>@com.Comment
                                            </p>
                                        </div>
                                    </div>

                                  
                                </div>

                            </li>
                            }


                        </ul>



                    </div>
                    <div class="add-comment" >

                        <form method="post" asp-action="AddComment">
                            <input asp-for="@Model.BlogComment.BlogId" value="@Model.Blog.Id" hidden/>
                            <textarea asp-for="@Model.BlogComment.Comment"   id="reply-comment" placeholder="Add to your comment">
                            </textarea>
                            <button type="submit" class="reply-btn">Submit</button>
                        </form>
                    </div>
                </div>


            </div>







            <a class="searchs-btn" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

            <div class="blog-searchs">

                <a class="searchs-close-btn" href="#">
                    <img src="~/cilent/assets/icons/close-black.svg" alt="">
                </a>

                <div class="selected-tags" style="flex-direction:column;gap:15px">

                    <h3>Tags</h3>
                    <ul class="selected-tags-list">

                        @if (Model.Tags != null)
                        {
                            foreach (var tag in Model.Tags)
                            {
                                <li> <p>@tag.Name</p>  </li>
                            }
                        }


                    </ul>

                </div>

                <div class="searchs-container">



                    <div class="popular-blogs">

                        <h2>POPULAR BLOGS</h2>

                        <ul class="blog-boxs">
                            @if (Model.PopularBlogs != null || Model.PopularBlogs.Count() > 0)
                            {
                                @foreach (var blog in Model.PopularBlogs)
                                {

                                    <li class="popular-blog-box">


                                        @if (blog.IsVideo)
                                        {
                                            <a class="blog-box-img" asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">
                                                <video style="object-fit:cover; width:100%;height:100%;" loop muted plays-inline>
                                                    <source src="~/cilent/assets/blogs/@blog.Image"
                                                            type="video/mp4">
                                                </video>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id" class="blog-box-img">
                                                <img src="~/cilent/assets/blogs/@blog.Image" alt="blog-image">
                                            </a>
                                        }

                                        <div class="blog-box-info">
                                            <p>@blog.Author</p>
                                            <a asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">@blog.Title</a>
                                        </div>

                                    </li>
                                }
                            }

                        </ul>



                    </div>

                    <div class="blog-categories">
                        <h2>BLOG CATEGORIES</h2>

                        <ul class="b-categories">


                            <li><a class="@(Model.SelectedCategory>0?"":"active")" asp-action="Index">ALL</a></li>

                            @foreach (var cat in Model.Categories)
                            {
                                <li><a asp-action="Index" asp-route-catId="@cat.Id" class="@(Model.SelectedCategory==cat.Id?"active":"")">@cat.Name</a></li>
                            }



                        </ul>
                    </div>
                </div>

            </div>






        </div>




    </section>
</main>



@section script {
    <script src="~/cilent/assets/js/blog-detail.js"></script>
}