@using Vanguard.ViewModels.Blog
@model BlogViewVM
@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        .blog-categories a{
            cursor:pointer;
        }
    </style>
}

<main>

    <section class="header-news">

        <div class="banner">
            <video autoplay loop muted plays-inline>
                <source src="~/cilent/assets/videos/Untitled video - Made with Clipchamp (1).mp4" type="video/mp4">
            </video>
        </div>

        <h1>BLOGS</h1>
    </section>



    <section style="height: 100vh;" class="section blog">

        <nav>
            <ul class="blog-categories">
                <li><a class="@(Model.SelectedCategory>0?"":"active")" href="#">ALL</a></li>

                @foreach (var cat in Model.Categories)
                {
                    <li><a data-id="@cat.Id" class="@(Model.SelectedCategory==cat.Id?"active":"")">@cat.Name</a></li>
                }

            </ul>
        </nav>

        <div class="blog-container">



            <div class="blogs">

                <div class="masonry">


                    @foreach (var blog in Model.Blogs)
                    {
                        <div class="mItem">

                            <div class="blog-box">

                                <div class="blog-image">

                                    @if (blog.IsVideo)
                                    {
                                        <a class="blog-video" asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">
                                            <video loop muted plays-inline>
                                                <source src="~/cilent/assets/blogs/@blog.Image"
                                                        type="video/mp4">
                                            </video>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">
                                            <img src="~/cilent/assets/blogs/@blog.Image" alt="blog-image">
                                        </a>
                                    }


                                </div>

                                <div class="blog-info">

                                    <div class="blog-box-info">
                                        <div class="blog-date">
                                            <span>By: <a>@blog.CreatedBy</a></span>
                                            <span>@blog.Created.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <a class="blog-title" asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">@blog.Title</a>
                                    </div>



                                    <div class="blog-rating">

                                        <div class="blog-views">
                                            <img src="~/cilent/assets/icons/view.svg" alt="view">
                                            <span>@blog.Clicked</span>
                                        </div>

                                        <div class="blog-comments">
                                            <img src="~/cilent/assets/icons/comment.svg" alt="comment">
                                            <span>100000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    }



                </div>
            </div>







            <a class="searchs-btn" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

            <div class="blog-searchs">

                <a class="searchs-close-btn" href="#">
                    <img src="~/cilent/assets/icons/close-black.svg" alt="">
                </a>

                <div class="searchs-container">
                    <input id="searchInput" type="text" placeholder="Search...">


                    <ul id="searchResults">

                        <!-- <span>Search not found ...</span> -->

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/slider.png" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <video loop muted plays-inline>
                                    <source src="~/cilent/assets/videos/Untitled video - Made with Clipchamp (1).mp4"
                                            type="video/mp4">
                                </video>

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-tag"><a href="#"># Tag</a></li>
                        <li class="srch-tag"><a href="#"># Tag</a></li>
                        <li class="srch-tag"><a href="#"># Tag</a></li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/slider.png" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit</h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-tag">
                            <a href="#">
                                # Tag Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                            </a>
                        </li>


                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                        <li class="srch-blog">
                            <a href="#">
                                <img src="~/cilent/assets/images/products/product.jpg" alt="wqe">

                                <div class="blog-info">
                                    <p>Date</p>
                                    <h3>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam debitis
                                        tenetur ratione est quo sed in alias natus vitae dolor.
                                    </h3>
                                </div>
                            </a>
                        </li>

                    </ul>

                    <div class="selected-tags">
                        <ul class="selected-tags-list">
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>taasdasdasdg-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>tag-1</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                            <li>
                                <p>t</p>
                                <a href="#"><img src="~/cilent/assets/icons/close-white.svg" alt=""></a>
                            </li>
                        </ul>

                    </div>

                    <div class="popular-blogs">

                        <h2>POPULAR BLOGS</h2>

                        <ul class="blog-boxs">
                            <li class="popular-blog-box">
                                <a class="blog-box-img" href="#">
                                    <img src="~/cilent/assets/images/products/product.jpg" alt="">
                                </a>

                                <div class="blog-box-info">
                                    <p>Date</p>
                                    <a href="#">Lorem ipsum dolor ssssssssssssssssssssssssssssssit amet</a>
                                </div>

                            </li>

                            <li class="popular-blog-box">
                                <a class="blog-box-img" href="#">
                                    <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                </a>

                                <div class="blog-box-info">
                                    <p>Date</p>
                                    <a href="#">Lorem ipsum dolor sit adsfsdmsssssssssssssset</a>
                                </div>
                            </li>
                        </ul>



                    </div>


                </div>

            </div>


        </div>

        <!-- <div class="pagenation">

            <div class="pagenation-box">
                <a class="prev-btn" href="#">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>

                <a href="#" class="num-btn" data-num="1">1</a>
                <a href="#" class="num-btn" data-num="1">1</a>
                <a href="#" class="num-btn" data-num="1">1</a>
                <a href="#" class="num-btn" data-num="1">1</a>

                <a class="next-btn" href="#">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>

        </div> -->















        <div class="pagenation">
            <div class="pagenation-box">
                <a style="cursor:pointer" id="prevPage">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>

                @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
                {
                    <a style="cursor:pointer" class="num-btn @(i == Model.PageInfo.CurrentPage ? "active" : "")" data-num="@i">@i</a>
                }

                <a style="cursor:pointer" id="nextPage">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <span class="total-pages" data-total="@Model.PageInfo.TotalPages" style="display:none;"></span>
        </div>


    </section>
</main>


@section script {
    <script src="~/cilent/assets/js/blog.js"></script>
    <script>

        function sendFilterRequest(page) {
            const formData = new FormData();

            const selectedCategory = document.querySelector('.blog-categories a.active').dataset.id || 0;
            formData.append('PageInfo.CurrentPage', page);
            formData.append('PageInfo.ItemsPerPage', 9);
            formData.append('SelectedCategory', selectedCategory);

            const queryString = new URLSearchParams(formData).toString();
            window.location.href = `/Blog/Index?${queryString}`;
        }

        function prevPage(event) {
            event.preventDefault();
            const currentPage = parseInt(document.querySelector('.num-btn.active').dataset.num);
            if (currentPage > 1) {
                sendFilterRequest(currentPage - 1);
            }
        }

        function nextPage(event) {
            event.preventDefault();
            const currentPage = parseInt(document.querySelector('.num-btn.active').dataset.num);
            const totalPages = parseInt(document.querySelector('.total-pages').dataset.total);
            if (currentPage < totalPages) {
                sendFilterRequest(currentPage + 1);
            }
        }

        function goToPage(pageNum) {
            sendFilterRequest(pageNum);
        }

        document.addEventListener("DOMContentLoaded", function () {
            const pageLinks = document.querySelectorAll('.num-btn');
            const prevPageLink = document.getElementById('prevPage');
            const nextPageLink = document.getElementById('nextPage');

            // Sayfa linklerine event listener ekleme
            pageLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const pageNumber = parseInt(this.getAttribute('data-num'));
                    goToPage(pageNumber);
                });
            });

            // Önceki ve sonraki düğmelere event listener ekleme
            prevPageLink.addEventListener('click', prevPage);
            nextPageLink.addEventListener('click', nextPage);
        });

        document.addEventListener('DOMContentLoaded', function () {
            const categories = document.querySelectorAll('.blog-categories a');
            console.log(categories);

            categories.forEach(cat => {
                cat.addEventListener('click', function (event) {
                    event.preventDefault();

                    let selectedCategoryId = this.dataset.id;

                    if (selectedCategoryId === undefined || selectedCategoryId === null) {
                        selectedCategoryId = 0;
                    }

                    const url = new URL(window.location.href);
                    url.searchParams.set('SelectedCategory', selectedCategoryId);
                    url.searchParams.set('PageInfo.CurrentPage', 1);

                    window.location.href = url.toString();
                });
            });
        });

    </script>
}
