@using Vanguard.ViewModels.Home
@model HomeVM

@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/home.css">
}

<!-- ================================
        MAIN    -    START
===================================== -->
<main>

    <section class="brand-section">

        <div class="sliders">

            @if (Model.Sliders.Count() > 0)
            {

                @foreach (var slide in Model.Sliders)
                {
                    <div class="slide">

                        <img src="~/cilent/assets/settings/slider/@(slide.Image!=null?slide.Image.Url:"")" alt="">
                        <div class="slide-info">
                            <h5 class="slide-title">@slide.Tag.Name</h5>
                            <h2 class="slide-name">@slide.Title</h2>
                            <p class="slide-description">
                                @if (slide.Description.Length > 130)
                                {
                                    @slide.Description.Substring(0, 130) <span>...</span>
                                }
                                else
                                {
                                    @slide.Description
                                }
                            </p>
                            <div class="slide-go">
                                <a asp-controller="Shop" asp-action="Index" asp-route-tagId="@slide.TagId">SHOP NOW</a>
                            </div>
                        </div>

                    </div>
                }

            }


        </div>




        <div class="toggle-button">
            <a class="slider-left-btn" href="#">
                <img src="~/cilent/assets/icons/slide-left.svg" alt="">
            </a>
            <a class="slider-right-btn" href="#">
                <img src="~/cilent/assets/icons/slide-right.svg" alt="">
            </a>
        </div>

        <div class="slider-cricle-btn">
        </div>

    </section>

    <!-- =============== COLLECTION SLIDER - Start =============== -->

    <section class="section collection">

        <h1>The Most Trendy Pieces of Summer are at Vanguard</h1>


        <div class="collection-area">

            <div class="list-one">
                
                <div class="list-one-card"
                     style="background-image: url(cilent/assets/settings/banner/@(Model.Banners[0].Image.Url));">

                    <div class="list-one-info">
                        <P>@Model.Banners[0]?.Title</P>
                        <a href="#">@Model.Banners[0]?.SubTitle</a>
                    </div>

                    <div  class="one-btn">
                        <a asp-action="Index" asp-route-catId="@Model.Banners[0].CategoryId" asp-controller="Shop">SHOP NOW</a>
                    </div>

                </div>
            </div>

            <div class="list-two">

                <div class="list-two-product"
                     style="background-image: url(/cilent/assets/settings/banner/@(Model.Banners[1].Image.Url));">


                    <div class="list-two-card">

                        <div class="list-two-info">
                            <P>@Model.Banners[1]?.Title</P>
                            <a href="#">@Model.Banners[1]?.SubTitle</a>
                        </div>

                        <div class="two-btn">
                            <a asp-action="Index" asp-route-catId="@Model.Banners[1].CategoryId" asp-controller="Shop">SHOP NOW</a>
                        </div>

                    </div>

                </div>

                <div class="list-two-product"
                     style="background-image: url(/cilent/assets/settings/banner/@(Model.Banners[2].Image.Url));">


                    <div class="list-two-card">

                        <div class="list-two-info">
                            <P>@Model.Banners[2]?.Title</P>
                            <a href="#">@Model.Banners[2]?.SubTitle</a>
                        </div>

                        <div class="two-btn">
                            <a asp-action="Index" asp-route-catId="@Model.Banners[2].CategoryId" asp-controller="Shop">SHOP NOW</a>
                        </div>

                    </div>

                </div>


           

            </div>


        </div>


    </section>


    <!-- =============== COLLECTION SLIDER - End =============== -->
    <!-- =============== TRENDY SLIDER - Start =============== -->
    @await Html.PartialAsync("_TrendyProductPartialView", Model.TrendyVM)

    <!-- =============== TRENDY SLIDER - End =============== -->
    <!-- =============== DEAL OF WEEK   SECTION - Start =============== -->

    <section class="dealofweek">

        <div class="deal-offer">

            <div class="deal-title">

                <div class="arrow"></div>
                <h5>@Model.Hero.Hero.HeroName</h5>

            </div>

            <div class="deal-collection">
                <h1>@Model.Hero.Hero.Title</h1>
                <h5>@Model.Hero.Hero.Description</h5>
            </div>

            <a asp-action="Index" asp-controller="Shop" asp-route-tagId="@Model.Hero.Hero.TagId" asp-route-catId="@Model.Hero.Hero.CategoryId">VIEW ALL</a>

            <div class="offer-time" data-time="@Model.Hero.formattedTime">
                @* data-time="2024-05-25 22:29:12.345" *@

                <div class="time day">
                    <span class="num"></span>
                    <span class="nam">DAY</span>
                </div>

                <div class="separate">:</div>

                <div class="time hours">
                    <span class="num"></span>
                    <span class="nam">HOURS</span>
                </div>

                <div class="separate">:</div>

                <div class="time mins">
                    <span class="num"></span>
                    <span class="nam">MINS</span>
                </div>

                <div class="separate">:</div>

                <div class="time sec">
                    <span class="num"></span>
                    <span class="nam">SEC</span>
                </div>


                <!-- const sqlDatetime2 = '2024-04-25 22:29:12.345'; // SQL sorgusundan gelen datetime2 değeri
                // String formatındaki datetime2 değerini Date nesnesine dönüştürme
                const jsDate = new Date(sqlDatetime2);
                console.log(jsDate); -->
            </div>

        </div>


        <!-- Swiper -->
        <!-- <div class="swiper mySwiper dealofweek-prod">


        </div> -->

        <div class="swiper mySwiper dealofweek-prod">

            <div class="swiper-wrapper products-carts">

                @foreach (var prod in Model.Hero.HeroProducts)
                {
                    <div class="swiper-slide product-boxs ">


                        <!-- active -->
                        <div class="product-image-b ">


                            <div class="prod-images">

                                <div class="main-image">
                                    <img src="~/cilent/assets/images/products/@prod.MainImageURL" alt="">

                                </div>

                                <!-- <div class="">
                                <img src="~/cilent/assets/images/products/slider-2.webp" alt="">
                                </div> -->

                                <div class="swiper mySwiper hover-image">
                                    <div class="swiper-wrapper">

                                        @if (prod.AdditionalImagesURL != null)
                                        {
                                            <div class="swiper-slide">
                                                <img src="~/cilent/assets/images/products/@prod.HoverImageURL" alt="">
                                            </div>

                                            @foreach (var img in prod.AdditionalImagesURL)
                                            {
                                                <div class="swiper-slide">
                                                    <img src="~/cilent/assets/images/products/@img" alt="">
                                                </div>
                                            }
                                        }

                                    </div>
                                    <div class="swiper-button-next p-btn"></div>
                                    <div class="swiper-button-prev p-btn"></div>
                                </div>

                            </div>


                            <div class="prod-buttons">

                                <a class="add-btn ">add to card</a>

                                <!-- active -->
                                <ul class="add-size">

                                    @if (prod.Informations != null && prod.Informations.Any())
                                    {
                                        foreach (var size in prod.Informations)
                                        {
                                            <li class="btn-size" data-size="@size.Id">@size.Size.Name</li>
                                        }
                                    }
                               
                                </ul>

                            </div>

                            <div class="labels">
                                @if (prod.IsNew)
                                {
                                    <a class=" new">New</a>
                                }
                                @if (prod.IsDiscounted)
                                {
                                    <a class="dis">-@prod.Offer%</a>
                                }
                                @if (prod.IsBest)
                                {
                                    <a class=" best">Best</a>
                                }
                            </div>


                        </div>





                        <div class="product-info-boxs">

                            <div class="p-inf">
                                <div class="p-head">
                                    <h6>
                                        @foreach (var cat in prod.Categories)
                                        {
                                            @cat

                                            @(cat != prod.Categories.Last() ? " , " : "")
                                        }
                                    </h6>
                                    <h3>@prod.Product.Name</h3>
                                </div>

                                <span>Color: @prod.Color</span>
                            </div>



                            <div class="p-pric">
                                <a data-id="@prod.Product.Id" class="wish-btn">
                                    @if (prod.IsWish)
                                    {
                                        <img class="active" src="~/cilent/assets/icons/wish-icon-active.svg" alt="">
                                    }
                                    else
                                    {
                                        <img class="" src="~/cilent/assets/icons/wish-white.svg" alt="">
                                    }
                                </a>

                                <div class="cart-prices item">
                                    @if (prod.Product.DiscountPrice != null && prod.Product.DiscountPrice > 0)
                                    {

                                        <span class="sell-price dis" id="sell-price">$@prod.Product.DiscountPrice</span>
                                        <del class="sell-price dis-price">$@prod.Product.SellPrice</del>
                                    }
                                    else
                                    {
                                        <span class="sell-price sell" id="sell-price">$@prod.Product.SellPrice </span>

                                    }
                                </div>
                            </div>

                        </div>


                    </div>

                }



            </div>
            <div class="swiper-pagination t-a"></div>
        </div>




    </section>

    <!-- =============== DEAL OF WEEK   SECTION - End =============== -->
    <!-- =============== BLOG SECTION - Start =============== -->

    <style>

        .blog-video {
            display: flex;
            width: 100%;
            justify-content: center;
        }

            .blog-video video {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: top center;
            }
    </style>
    <section class="section blog">

        <div class="blog-title">
            <h1>LATEST BLOGS</h1>
        </div>


        <div class="swiper mySwiper">

            <div class="swiper-wrapper">


                @if (Model.LastBlogs != null)
                {
                    foreach (var blog in Model.LastBlogs)
                    {

                        <div class="swiper-slide blog-card">

                            @*     <a href="#" class="blog-image">
                    <img src="~/cilent/assets/blogs/@blog.Image" alt="">
                    </a>
                    *@
                            @if (blog.IsVideo)
                            {
                                <a class="blog-video blog-image" asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">
                                    <video loop muted plays-inline>
                                        <source src="~/cilent/assets/blogs/@blog.Image"
                                                type="video/mp4">
                                    </video>
                                </a>
                            }
                            else
                            {
                                <a class="blog-image" asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id">
                                    <img src="~/cilent/assets/blogs/@blog.Image" alt="blog-image">
                                </a>
                            }


                            <div class="blog-info">

                                <div class="blog-head">

                                    <div class="blog-created">
                                        <span>By: <a href="#">@blog.CreatedBy</a></span>
                                        <span>@blog.Created.ToString("yyyy mm dd")</span>
                                    </div>

                                    <a asp-action="Detail" asp-controller="Blog" asp-area="" asp-route-id="@blog.Id" class="blog-name">
                                        @blog.Title
                                    </a>

                                </div>


                                <div class="blog-description">
                                    <p>
                                        @if (blog.Descripton.Length > 130)
                                        {
                                            @blog.Descripton.Substring(0, 130) <span>...</span>
                                        }
                                        else
                                        {
                                            @blog.Descripton
                                        }
                                    </p>
                                </div>

                            </div>


                        </div>
                    }

                }

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </section>

    <!-- =============== BLOG SECTION - End =============== -->
    <!-- =============== SERVICE SECTION - Start =============== -->
    <section class="section service">



        <div class="delivery">
            <div class="icon">
                <img src="~/cilent/assets/icons/delivery.svg" alt="">
            </div>

            <div class="info">
                <h3>FAST AND FREE DELIVERY</h3>
                <p>Free delivery for all orders over $140</p>
            </div>
        </div>



        <div class="support">
            <div class="icon">
                <img src="~/cilent/assets/icons/support.svg" alt="">
            </div>

            <div class="info">
                <h3>24/7 CUSTOMER SUPPORT</h3>
                <p>Friendly 24/7 customer support</p>
            </div>
        </div>



        <div class="guarantee">

            <div class="icon">
                <img src="~/cilent/assets/icons/guarantee.svg" alt="">
            </div>

            <div class="info">
                <h3>MONEY BACK GUARANTEE</h3>
                <p>We return money within 30 days</p>
            </div>

        </div>



    </section>

    <!-- =============== SERVICE SECTION - End =============== -->






</main>
<!-- ================================
        MAIN    -    END
===================================== -->
@section script {
    <script src="~/cilent/assets/js/home.js"></script>
}